@font-face {
  font-family: FredokaOne;
  src: url("../fonts/FredokaOne-Regular.ttf");
  
}

body,
html {
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  background-image: url("/iPlayerBackground.jpeg");
  background-size: auto 120%;
  user-select: none;
}

.game-area {
  position: relative;
  margin: 0 auto;
  width: 1300px;
  height: 1170px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  border: 3px solid rgba(224, 43, 125, 1);
  background-image: linear-gradient(180deg, #1f2933 0%, #124e8e 100%);
}

@media (max-width: 1400px), (max-height: 1250px) {
  html {
    zoom: 0.95;
  }
}
@media (max-width: 1300px), (max-height: 1200px) {
  html {
    zoom: 0.9;
  }
}

@media (max-width: 1200px), (max-height: 1150px) {
  html {
    zoom: 0.85;
  }
}
@media (max-width: 1100px), (max-height: 1100px) {
  html {
    zoom: 0.8;
  }
}
@media (max-width: 800px), (max-height: 1000px) {
  html {
    zoom: 0.58;
  }
}

@keyframes glow {
  to {
    filter: drop-shadow(1px 0px 30px rgba(255, 255, 255, 1));
  }
}

h1 {
  display: flex;
  width: 1000px;
}

.spacing {
  margin-left: 10px;
}

.larger-spacing {
  margin-left: 30px;
}

.settings {
  display: flex;
  width: 500px;
  margin-left: 5%;
  margin-top: 0.5%;
  
}

.ai-button {
  margin-left: 10%;
  margin-bottom: 10%;
  height: 30px;
}

.ai-switch {
  margin-left: 7%;
  position: relative;
}

.sound-button {
  margin-left: 15%;
  margin-bottom: 10%;
  height: 30px;
}

.sound-switch {
  margin-left: 20%;
  position: absolute;
}

.score-leave {
  opacity: 0;
}
.score-enter {
  color: yellow;
  animation: pulse 0.5s ease-in-out;
}

.parent {
  -webkit-text-stroke: 1.5px rgb(85, 83, 88);;
  display: flex;
  flex-wrap: wrap;
  width: 1333px;
  margin: 0 auto;
}

.child {
  margin: 12px;
  height: 35px;
  width: 200px;
  background-color: #080b13;
  font-family: FredokaOne, cursive;
  font-size: 30px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: white;
  border-radius: 10px;
  background: rgba(224, 43, 125, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.settingContainer {
  flex: 1 2 12%;
  margin: 12px;
  height: 35px;
  background-color: #080b13;
  font-family: FredokaOne, cursive;
  font-size: 26px;

  color: white;
  border-radius: 10px;
  background: rgba(224, 43, 125, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.scoreText {
  text-align: center;
  letter-spacing: 3px;
  width: 100%;
  height: 100px;
  margin: 0 auto;
}

.fullWordText {
  position: relative;
  text-align: center;
}

.game-over {
  padding-top: 10%;
  font: 40px arial, sans-serif;
  text-align: center;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

nav ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  width: 80%;
  cursor: pointer;
}

nav ul li {
  --c: rgba(224, 43, 125, 1);
  color: var(--c);
  font-size: 16px;
  border: 0.2em solid var(--c);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: FredokaOne, cursive;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
  background-color: #01183a;
}

nav ul li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.05s);
  z-index: -1;
}

nav ul li:hover {
  color: white;
}

nav ul li:hover span {
  transform: translateY(0) scale(3);
}

nav ul li span:nth-child(1) {
  --n: 1;
}

nav ul li span:nth-child(2) {
  --n: 2;
}

nav ul li span:nth-child(3) {
  --n: 3;
}

nav ul li span:nth-child(4) {
  --n: 4;
}

span#answer {
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  font: 40px arial, sans-serif;
  color: white;
  position: absolute;
  width: 300px;
  top: 50px;
  left: -130px;
  height: 100px;
  opacity: 0;
  animation: fade 0.8s linear;
  z-index: 999;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.snake-menu-image {
  display: block;
  margin: 0px auto;
  padding-top: 100px;
  padding-bottom: 50px;
}

#wrapper {
  width: 1300px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}
