body, html { 
    overflow-x: hidden; 
    overflow-y: hidden;
}

.game-area {
  position: relative;
  margin: 50px auto;
  width: 1300px;
  height: 1300px;
  border: 2px solid #000;
  background:#0c101c;
  animation: fadein 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  border-style: solid;
  background: linear-gradient(354deg, rgba(224,43,125,1) 0%, rgba(245,73,151,1) 100%);
 }
 
 .snake-head {
  position: absolute;
  width: 2%;
  border-style: solid;
  height: 2%;
  background: linear-gradient(354deg, rgba(219,3,101,1) 0%, rgba(245,73,151,1) 100%);
 }

 .food {
  position: absolute;
  width: 2%;
  height: 2%;
  background: radial-gradient(circle, rgba(39,198,132,1) 0%, rgba(63,255,45,1) 100%);
  border: 1px solid#25a430;
  border-radius: 25px;
 }

 .scoreBoard {
  position: fixed; 
  top: 0%;
  left: 50%;
 }

h1 {
  display: flex;
  width: 1000px;
}

.ai-status {
  display:flex;
  width: 500px;
  margin-left:5%;
}

 .ai-button {
   margin-left: 10%;
   margin-bottom:10%;
   height: 30px;
 }

.animation-enter {
  opacity: 1;
  transition: opacity 300 ease-in;
}

.animation-leave {
  opacity: 0.01;
  transition: opacity 250ms ease-in;
}
